html {
    scroll-behavior: smooth;
  }
  .a1{
      scroll-behavior: smooth;
  }
  .fead{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      text-emphasis: bold;

  }
  body{
    height: 100%;
    width: 100%;
    background-color: #ddd9d4;
    background-image: linear-gradient(141deg, #EC6F66 30%, #FFEDBC 41%, #414345 65%);
    color: white;
    opacity: 0.95;
}
/* .nameh{
    font-family: Courier;
    font-size: 200%;
    margin-left: 30px;
 */
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    
}
.footer-heading{
    color: white;
    text-decoration-color: white;
    -moz-text-decoration-color: white;
}
.bottom{
    color: whitesmoke;
}
.para{
    color: rgb(14, 17, 209);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 33px;
    text-decoration: yellow;
    text-shadow: #414345;
}
.lowerimage{
    width:60px;
    height: 90px;
}
/* #main-img{
    border: 10px #dcd8bf solid;
    height: 350px;
    border-radius: 20px;
    margin-left: 545px;
    margin-top:50px; 
    width:230px;
    animation: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -webkit-animation: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} */
.button-1{
    margin-right: auto;
    margin-left: 610px;
    color: blueviolet;

}
.container1 {
    position: relative;
    width: 100%;
    /* margin-left: 300px;
    margin-top: 20px; */
  }
  
  .image-top {
    border: 10px #dcd8bf solid;
    height: 350px;
    border-radius: 20px;
    margin-left: 545px;
    margin-top: 45px; 
    width:230px;
    
    display: block;
  }
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: grey;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .container1:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  